<div class="">
	<!-- <div class="banner_home"></div> -->
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-2-tablet"></div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet">
			<div v-show="!logado" class="mdc-card">
				<section class="mdc-card__media card_media_medica"></section>
				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Bem vindo ao I9Fila</h1>
					<!-- <h2 class="mdc-card__subtitle">Sistema de gerenciamento de filas inovador!</h2> -->
				</section>
				<section class="mdc-card__supporting-text">
					O aplicativo de controle de senhas e filas de atendimento mais inovador do mercado.  Sem impressão de papel, com fácil implantação e baixa manutenção. Tenha um produto preparo para uma nova era tecnológica, preparado para os próximos 10 anos. Entre em contato para levar a inovação para sua clínica e sua cidade.
				</section>
				<section class="mdc-card__actions" dir="rtl">
					<a class="mdc-button mdc-button--compact mdc-card__action" href="#saibamais">Saiba mais</a>
				</section>
			</div>
		</div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet">
			<div v-show="!logado" class="mdc-card">
				<section class="mdc-card__media card_media_tablet"></section>
				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Experimente o sistema!</h1>
					<!-- <h2 class="mdc-card__subtitle">Grátis durante 15 dias para avaliação!</h2> -->
				</section>
				<section class="mdc-card__supporting-text">
					Configure seus quiosques, box de atendimento e monitores e crie uma central local para gerenciamento das filas e senhas.
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>
				</section>
				<section class="mdc-card__actions" dir="rtl">
					<a class="mdc-button mdc-button--compact mdc-card__action" href="#system-config">Experimente o sistema</a>
				</section>
			</div>
		</div>
	</div>
</div>