<div class="">
	<div class="banner_home"></div>
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
			<div v-show="!logado" class="mdc-card">
				<section class="mdc-card__media card_media_medica"></section>
				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">i9fila</h1>
					<h2 class="mdc-card__subtitle">Sistema de gerenciamento de filas inovador!</h2>
				</section>
				<section class="mdc-card__supporting-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat, turpis sit amet lobortis tempor, eros metus rutrum enim, luctus porta tellus enim vitae eros. Fusce eleifend dictum turpis id consectetur. Vestibulum id maximus mauris. Quisque rutrum congue felis, sed.
				</section>
				<section class="mdc-card__actions" dir="rtl">
					<a class="mdc-button mdc-button--compact mdc-card__action" href="#saibamais">Saiba mais</a>
				</section>
			</div>
		</div>		
	</div>

	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
			<div v-show="!logado" class="mdc-card">
			<section class="mdc-card__media card_media_tablet"></section>
				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Experimente o sistema!</h1>
					<h2 class="mdc-card__subtitle">Grátis durante 15 dias para avaliação!</h2>
				</section>
				<section class="mdc-card__supporting-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat, turpis sit amet lobortis tempor, eros metus rutrum enim, luctus porta tellus enim vitae eros. Fusce eleifend dictum turpis id consectetur. Vestibulum id maximus mauris. Quisque rutrum congue felis, sed.
				</section>
				<section class="mdc-card__actions" dir="rtl">
					<a class="mdc-button mdc-button--compact mdc-card__action" href="#system-config">Experimente o sistema</a>
				</section>
			</div>
		</div>
	</div>
</div>