<!DOCTYPE html>
<html class="mdc-typography">
<head>
  <meta charset="utf-8">
  <title id="title">Line-it - Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="node_modules/firebase/firebase.js"></script>

  <script>
    // Initialize Firebase
    firebase.initializeApp({
      apiKey: "AIzaSyB2d1A6gltoLcpo20D-y4ZnhuUdMRYE4Nc",
      authDomain: "i9fila.firebaseapp.com",
      databaseURL: "https://i9fila.firebaseio.com",
      projectId: "i9fila",
      storageBucket: "i9fila.appspot.com",
      messagingSenderId: "957753652684"
    });
  </script>
</head>

<body class="mdc-typography demo-body">
  <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true" v-on:click="drawer.open = false">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
          <span class="mdc-list-item__text">Início</span>
        </a>
        <a class="mdc-list-item" href="#" v-on:click="drawer.open = false; deslogar_firebase();">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
          <span class="mdc-list-item__text">Deslogar e Sair</span>
        </a>
      </nav>
    </div>
  </aside>
  <div class="mdc-drawer-scrim"></div> 
  <div id="app">
    <!-- Loading -->
    <div v-if="loading.page || loading.user || loading.update" style="margin: 50px 50px 50px 50px">
      <div v-if="loading.downloading">
        <h2>Fazendo download da atualização...</h2><br />
        <!-- <span>{{ loading.download_progress }}</span><br />
        <span>{{ loading.download_message }}</span><br /> -->
        <figure class="linear-progress-demo">
          <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
              <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
              <span class="mdc-linear-progress__bar-inner"></span>
            </div>
          </div>
        </figure>
      </div>

      <div v-else>
        <h1>Line-it</h1>
        <figure class="linear-progress-demo">
          <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
            <div class="mdc-linear-progress__buffering-dots"></div>
            <div class="mdc-linear-progress__buffer"></div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
              <span class="mdc-linear-progress__bar-inner"></span>
            </div>
            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
              <span class="mdc-linear-progress__bar-inner"></span>
            </div>
          </div>
        </figure>
      </div>
    </div>
    <!-- end -->

    <div v-else>           
      <div class="main-content">
          <menu-vertical id="menu_vertical" ref="menu-vertical"></menu-vertical>
          <router-view ref="routerView" style="position: relative;"></router-view>
      </div>
    </div>

    <!-- Snackbar -->
    <div class="mdc-snackbar snackbar-msg" aria-live="assertive" aria-atomic="true" aria-hidden="true">
      <div class="mdc-snackbar__text"></div>
      <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
      </div>
    </div>
    <!-- end -->
  </div>

  <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style type="text/css">
    :root {
      --mdc-theme-primary: #0098df;
      --mdc-theme-secondary: #ffa000;
      --mdc-theme-accent: #80deea;
      --mdc-theme-background: white;
      --mdc-theme-text-primary-on-primary: white;
      --mdc-theme-text-icon-on-primary: white;
      --mdc-theme-text-secondary-on-primary: white;
      --mdc-theme-text-hint-on-primary: white;
    }
  </style>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-router/dist/vue-router.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script>window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.js');</script>
  <script src="node_modules/material-components-web/dist/material-components-web.js"></script>
  <script src="node_modules/socket.io-client/dist/socket.io.js"></script>

  <!-- Settings para o Dao e outras confs -->
  <script type="text/javascript" src="js/settings/settings.js"></script>

  <!-- CSS's -->
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="templates/system/config/system-config.css">
  <link rel="stylesheet" href="templates/system/painel/system-painel.css">

  <link rel="stylesheet" href="templates/menu/menu.css">
  <link rel="stylesheet" href="templates/login/login.css">

  <!-- JS + Componentes (HTML) -->
  <script type="text/javascript" src="templates/system/config/system-config.js"></script>
  <script type="text/javascript" src="templates/system/painel/system-painel.js"></script>

  <script type="text/javascript" src="templates/system/insert/prioridade/add_prioridade.js"></script>
  <script type="text/javascript" src="templates/system/insert/box/add_box.js"></script>
  <script type="text/javascript" src="templates/system/insert/box_medico/add_box_medico.js"></script>
  <script type="text/javascript" src="templates/system/insert/monitor/add_monitor.js"></script>
  <script type="text/javascript" src="templates/system/insert/totem/add_totem.js"></script>

  <script type="text/javascript" src="templates/menu/menu.js"></script>
  <script type="text/javascript" src="templates/login/login.js"></script>
  <script type="text/javascript" src="templates/usuario/inserir/inserir_usuario.js"></script>

  <!-- Dao's -->
  <script type="text/javascript" src="js/daoclient/dao_clinica.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_totem.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_box_medico.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_box.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_monitor.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_binarios.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_especialidade.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_paciente.js"></script>
  <script type="text/javascript" src="js/daoclient/dao_prioridade.js"></script>

  <!-- Roteador do vuejs -->
  <script type="text/javascript" src="js/settings/router.js"></script>

  <script>window.mdc.autoInit(/* root */ document, () => {});</script>
</body>
</html>
