.hide_on_large {
    display: none; /* This is how it looks on mobile */
}

.hide_on_small {
	display: inline-flex;
	z-index: 2;
}

.mdc-toolbar a{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .hide_on_large {
        display: block;
    }

    .hide_on_small {
		display: none;
	}
}

.div-header-imagem {
    /*background-image: url('../../img/hospital.svg');*/
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}