<div class="">
	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
		</div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
			<div v-show="logado" class="mdc-card">
				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Cartão RcSaude</h1>
					<h2 class="mdc-card__subtitle">Cartão de desconto da Reability Center</h2>
				</section>
				<section class="mdc-card__supporting-text">
					Com o cartão de desconto RcSaude, da Reability Center, você pode economizar muitos mais!<br>
					Agora que você é nosso cliente, basta gerar o seu cartão. Clique em "Gerar cartão RcSaude" abaixo e imprima seu cartão!
				</section>
				<section class="mdc-card__actions" dir="rtl">
					<a class="mdc-button mdc-button--compact mdc-card__action" v-on:click="gerar()">Gerar cartão RcSaude</a>
				</section>
			</div><br><br>
		</div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
		</div>
	</div>
</div>