<div class="">
	
	<div class="mdc-layout-grid">
	    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"></div>
	    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
	    	<div class="mdc-card">
	            <section class="mdc-card__supporting-text">
	            	<div class="mdc-form-field">
						<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
							<input id="nome_paciente" type="text" class="mdc-textfield__input" v-model="nome_paciente">
							<label for="nome_paciente" class="mdc-textfield__label">
								Nome do paciente
							</label>
						</div>
					</div>
					<br>

					<select class="mdc-select" v-model="especialidade">
						<option value="null" default selected>Selecione uma especialidade</option>
						<option v-for="esp in list_especialidades" :value="esp.fields.nome">{{ esp.fields.nome }}</option>
					</select>
	    		</section>
	    		<section class="mdc-card__actions" dir="rtl">
	    			<button type="submit"
							class="mdc-button 
							mdc-button--raised 
							mdc-button--primary 
							mdc-ripple-surface" v-on:click="solicitar_senha($event)">
								Solicitar senha
							</button>
	    		</section>
	    		
	    	</div>
	    </div>
	</div>

</div>

<!-- <div class="row form-container">
	<form id="form_paciente" class="col s12 form-senha">
		<div class="center form-content">
			<div class="input-field">
				<select id="especialidade_" v-select="especialidade">
					<option disabled selected value="null">Selecione uma especialidade</option>
					<option v-for="esp in list_especialidades" :value="esp.fields.nome">{{ esp.fields.nome }}</option>
				</select>
			</div>
		</div>
		
		<div class="row button-solicitar-container">
			<div v-show="enviando" id="loading" class="col s12 center" style="display: none;"><span class="ld ld-ring ld-spin"></span></div>
			<div v-show="dados_incompletos" class="col s12 waves-effect waves-light btn red" v-on:click="completar_dados()"><i class="material-icons right">error</i>Complete todos os dados!</div>
			<div v-show="!enviando && !dados_incompletos" id="button_solicitar_senha" class="col s12 waves-effect waves-light btn" v-on:click="solicitar_senha()"><i class="material-icons right">send</i>Solicitar senha</div>
		</div>
	</form>
</div> -->