<div class="">
	<div v-if="tem_acesso" class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
			<div class="mdc-card">

				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Ativação do Totem</h1>
					<h2 class="mdc-card__subtitle">Formulário de ativação de Totens</h2>
				</section>
				<section class="mdc-card__supporting-text">
					<form action="#">
						<div>
							<div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="email" type="text" class="mdc-textfield__input" v-model="email">
									<label for="email" class="mdc-textfield__label">
										Email
									</label>
								</div>
							</div>
							<br>
						</div>
					</form>
				</section>
				<section class="mdc-card__actions mdc-card__actions--vertical" dir="rtl">
					<button type="submit" class="mdc-button mdc-button--compact mdc-card__action dark-theme" v-on:click="check($event)">
						Checar Acesso Ao Totem
					</button>
				</section>
			</div>
		</div>
	</div>

	<div v-else class="mdc-layout-grid">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
			<div class="mdc-card">

				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">Ativação do Totem</h1>
					<h2 class="mdc-card__subtitle">Formulário de ativação de Totens</h2>
				</section>
				<section class="mdc-card__supporting-text">
					<form action="#">
						<div>
							<div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="chave" type="text" class="mdc-textfield__input" v-model="chave">
									<label for="chave" class="mdc-textfield__label">
										Chave de acesso
									</label>
								</div>
							</div>
							<br>

							<div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="email" type="text" class="mdc-textfield__input" v-model="email">
									<label for="email" class="mdc-textfield__label">
										Email
									</label>
								</div>
							</div>
							<br>

							<div class="mdc-form-field">
								<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
									<input id="ip" type="text" class="mdc-textfield__input" disabled v-model="ip">
									<label for="ip" class="mdc-textfield__label">
										IP da máquina
									</label>
								</div>
							</div>
						</div>
					</form>
				</section>
				<section class="mdc-card__actions mdc-card__actions--vertical" dir="rtl">
					<button type="submit" class="mdc-button mdc-button--compact mdc-card__action dark-theme" v-on:click="activate($event)">
						Ativar Totem
					</button>
				</section>
			</div>
		</div>
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>
	</div>
</div>