<div class="">
	<!-- <div class="banner-painel"></div> -->

	<div v-if="logado">

		<!-- <div class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 liberar-acessar">
				<a class="mdc-button mdc-button--raised mdc-button--primary" v-on:click="open_subsystem()">Liberar ou Acessar - Box, Monitor ou Totem</a>
			</div>
		</div> -->

		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
				<h1>BOXES <a class="mdc-button mdc-button--compact material-icons" v-on:click="add_box()">add_box</a></h1>

				<div class="horizontal-scroll">
					
					<div v-for="box in box_list" class="mdc-card">
						<section class="mdc-card__media card_media_box"></section>
						<section class="mdc-card__supporting-text">
							<b>Apelido:</b> {{ box.fields.apelido }}<br>
							<b>Chave:</b> {{ box.fields.chave }}<br>
							<b>Ip:</b> {{ box.fields.ip }}<br>
						</section>
						<section class="mdc-card__actions" dir="rtl">
							<a class="mdc-button mdc-button--compact mdc-card__action" v-on:click="delete_box(box)">Remover</a>
						</section>
					</div>

				</div>
			</div>
		</div>


		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
				<h1>MONITORES <a class="mdc-button mdc-button--compact material-icons" v-on:click="add_monitor()">add_box</a></h1>

				<div class="horizontal-scroll">
					
					<div v-for="monitor in monitor_list" class="mdc-card">
						<section class="mdc-card__media card_media_monitor"></section>
						<section class="mdc-card__supporting-text">
							<b>Apelido:</b> {{ monitor.fields.apelido }}<br>
							<b>Chave:</b> {{ monitor.fields.chave }}<br>
							<b>Ip:</b> {{ monitor.fields.ip }}<br>
						</section>
						<section class="mdc-card__actions" dir="rtl">
							<a class="mdc-button mdc-button--compact mdc-card__action" v-on:click="delete_monitor(monitor)">Remover</a>
						</section>
					</div>

				</div>
			</div>
		</div>

		<div class="mdc-layout-grid">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
				<h1>TOTEMS <a class="mdc-button mdc-button--compact material-icons" v-on:click="add_totem()">add_box</a></h1>

				<div class="horizontal-scroll">
					
					<div v-for="totem in totem_list" class="mdc-card">
						<section class="mdc-card__media card_media_totem"></section>
						<section class="mdc-card__supporting-text">
							<b>Apelido:</b> {{ totem.fields.apelido }}<br>
							<b>Chave:</b> {{ totem.fields.chave }}<br>
							<b>Ip:</b> {{ totem.fields.ip }}<br>
						</section>
						<section class="mdc-card__actions" dir="rtl">
							<a class="mdc-button mdc-button--compact mdc-card__action" v-on:click="delete_totem(totem)">Remover</a>
						</section>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>