@media print {
	html, body {
		-webkit-print-color-adjust: exact;
		background: none;
		margin: 0;
		padding: 0;
	}

	#nav_large, #menu_vertical, .snackbar-msg, .skip {
		display: none;
	}

	.cartao-rcsaude {
		width: 18cm;
		height: 5.5cm;
		max-width: 18cm;
		max-height: 5.5cm;
	}

	.cartao-rcsaude .card-container {
		position: absolute;
		display: inline-flex;
		width: 100%;
		max-width: 100%;
	}

	.cartao-rcsaude .card{
		width: 9.0cm;
		height: 5.5cm;
		max-width: 9.0cm;
		max-height: 5.5cm;
		background: linear-gradient(to right, #f85032, #e73827);
		border-radius: 25px;
	}

	.cartao-rcsaude .card .info-usuario {
		font-size: x-small;
		line-height: 13pt;
		margin-bottom: 10px;
	}

	.span--print {
		width: 9.0cm;
		height: 5.5cm;
		max-width: 9.0cm;
		max-height: 5.5cm;
	}

	#costas {
		margin-left: 2px;
	}

	.cartao-rcsaude .card *{
		background-color:rgba(0, 0, 0, 0.0);
		color: white;
	}

	.cartao-rcsaude .card .info-legal .obs {
		border-style: solid;
		border-width: 2px;
		font-size: 5pt;
		line-height: 90%;
		padding: 3px;
		width: 50%;
		float: left;
	}

	.cartao-rcsaude .card .info-legal .validade {
		font-size: x-small;
		float: right;
	}

	.container-imagem {
		width: 100%;
		height: 70%;
		text-align: center;
	}

	.container-imagem .imagem {
		max-width: 100%;
		max-height: auto;
	}

	.container-qr {
		width: 100%;
		height: 30%;
		text-align: right;
	}

	.container-qr .qrcode {
		width: auto;
		height: 100%;
	}

	
}
