<div class="">
	<div class="botoes_impressao skip">
		<button v-show="!carregando_impressao" class="mdc-button mdc-button--raised" v-on:click="fechar_impressao($event)">
			<i class="material-icons" style="vertical-align: middle;">keyboard_arrow_left</i>Voltar
		</button>

		<button v-show="!carregando_impressao" class="mdc-button mdc-button--raised" v-on:click="imprimir($event)">
			<i class="material-icons" style="vertical-align: middle;">print</i>Imprimir
		</button>

		<button v-show="carregando_impressao" class="mdc-button mdc-button--raised">
			<i class="material-icons" style="vertical-align: middle;">hourglass_empty</i>Carregando...
		</button>

		<button v-show="erro_cartao" class="mdc-button mdc-button--raised">
			<i class="material-icons" style="vertical-align: middle;">error</i>Houve um problema!
		</button>
	</div>

	<div v-if="cartao" class="cartao-rcsaude">
		<div class="mdc-layout-grid card-container">

			<div id="frente" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 span--print">
				<div class="mdc-card card">
					<section class="mdc-card__supporting-text" style="height: 100%">
						<div class="container-imagem">
							<img class="imagem" src="img/logo-rcsaude.png">
						</div>
						<div class="container-qr">
							<img class="qrcode" src="img/qr-code.png">
						</div>
					</section>
				</div>
			</div>

			<div id="costas" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 span--print">
				<div class="mdc-card card">
					<section class="mdc-card__primary" style="height: 50%">
						<h1 class="mdc-card__title mdc-card__title--large">RC Saúde</h1>
						<h2 class="mdc-card__subtitle">Sua Saúde, Nossa Meta!</h2>
					</section>
					<section class="mdc-card__supporting-text">
						<div class="info-usuario">
							Nome: <b>{{ cartao.fields.usuario.nome }}</b><br>
							Data de Nasc. : <b>{{ cartao.fields.usuario.data_nascimento }}</b><br>
							Matrícula: <b>{{ cartao.fields.matricula }}</b><br>							
						</div>
						<div class="info-legal">
							<div class="obs">* Convênio ambulatorial com as Reability Center e parceiras, de acordo com o contrato</div>
							<div class="validade">Validade: <b>{{ cartao.fields.validade }}</b></div>
						</div>
					</section>
				</div>
			</div>

		</div>
	</div>
</div>




