<div>
  <div id="toolbar_phone" class="mdc-toolbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <button class="demo-menu material-icons">menu</button>
        <!-- <span class="mdc-toolbar__title catalog-title">line-it</span> -->
      </section>
      <div id="outline-js-select" class="mdc-select mdc-select--outlined">
        <select v-model="$root.user.local_ip" class="mdc-select__native-control mdc-theme--on-primary" id="outlined-select">
          <option v-for="(value, key) in $root.iplist" class="mdc-theme--primary" :value="key">
            {{key}}
          </option>
        </select>
         <div class="mdc-notched-outline">
           <svg>
             <path class="mdc-notched-outline__path"></path>
           </svg>
         </div>
         <div class="mdc-notched-outline__idle"></div>
      </div>
    </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
        Internet:&nbsp;&nbsp;
        <i class="mdc-toolbar__icon"
          :class="{'con-connected': $root.internet_connected,
          'con-error': !$root.internet_connected}">
        </i>
      </section>
    </div>
  </div>
</div>
