<div>
  <div id="toolbar_phone" class="mdc-toolbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <button class="demo-menu material-icons">menu</button>
        <span class="mdc-toolbar__title catalog-title">i9fila</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
        <a class="material-icons mdc-toolbar__icon" href="#">person</a>
      </section>
    </div>
  </div>

  <aside class="mdc-temporary-drawer" style="--mdc-temporary-drawer-opacity:0;">
    <nav id="nav_phone" class="mdc-temporary-drawer__drawer">
      <header class="mdc-temporary-drawer__header">
        <div class="mdc-temporary-drawer__header-content div-header-imagem">
          i9fila
        </div>
      </header>
      <nav class="mdc-temporary-drawer__content mdc-list-group">
        <div id="icon-with-text-demo" class="mdc-list">
          <a class="mdc-list-item mdc-theme--primary" href="#" data-mdc-tabindex-handled="true" tabindex="-1" v-on:click="drawer.open = false">
            <i class="material-icons mdc-list-item__start-detail mdc-theme--primary" aria-hidden="true">home</i>Início
          </a>
          <a class="mdc-list-item mdc-theme--primary" href="#saibamais" data-mdc-tabindex-handled="true" tabindex="-1" v-on:click="drawer.open = false">
            <i class="material-icons mdc-list-item__start-detail mdc-theme--primary" aria-hidden="true">format_align_left</i>Saiba mais
          </a>
          <a class="mdc-list-item mdc-theme--primary" href="#system-config" data-mdc-tabindex-handled="true" tabindex="-1" v-on:click="drawer.open = false">
            <i class="material-icons mdc-list-item__start-detail mdc-theme--primary" aria-hidden="true">add_to_queue</i>Experimente o sistema
          </a>
        </div>

        <!-- <hr class="mdc-list-divider">

        <div class="mdc-list">
          <a class="mdc-list-item" href="#" data-mdc-tabindex-handled="true" tabindex="-1">
            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Fichas deletadas
          </a>
        </div> -->
      </nav>
    </nav>
  </aside>
</div>
