.card_media_box {
	height: 100px;
	background-image: url('../../../../img/box.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card_media_monitor {
	height: 100px;
	background-image: url('../../../../img/monitor.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card_media_totem {
	height: 100px;
	background-image: url('../../../../img/totem.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}